{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
            <p>
                <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
            </p>
        </div>
    </div>
{% endblock %}